<div ng-controller="myLinks-ctrl as myLinks">
	<div class="link-container" ng-repeat="link in myLinks.userData.links | filter: index.searcher" ng-init="link.edit = false">
		<div>
			<span ng-click="myLinks.deleteLink(link)"><i class="fa fa-trash dark-primary-text-color" aria-hidden="true"></i></span>
			<span ng-click="console.log(54654); link.edit = !link.edit"><i class="fa fa-edit dark-primary-text-color" aria-hidden="true"></i></span>
			<a class="link" ng-href="{{link.url}}" target="_blank" ng-show="!link.edit"> {{link.description}} <span class="domain">{{link.url | domain}}</span></a>
			<input class="edit-link" type="text" ng-show="link.edit" ng-model="link.description" ng-keydown="myLinks.edit($event, link)">
		</div>
		<div class="ground">
			<i class="fa fa-calendar dark-primary-text-color"></i>
			{{link.date}}
			&emsp;
			<i class="fa fa-user dark-primary-text-color"></i>
			{{myLinks.userData.name}}
			&emsp;
			<i class="fa fa-envelope dark-primary-text-color"></i>
			<a class="link" ng-href="mailto:{{myLinks.userData.email}}" target="_top">{{myLinks.userData.email}}</a>
		</div>
	</div>
</div>